<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>SimpleMarketPlaceClient</display-name>
  <servlet>
    <display-name>check</display-name>
    <servlet-name>check</servlet-name>
    <servlet-class>Servlet.check</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>check</servlet-name>
    <url-pattern>/view/check</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>SignUp</display-name>
    <servlet-name>SignUp</servlet-name>
    <servlet-class>Servlet.SignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/view/SignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>SignIn</display-name>
    <servlet-name>SignIn</servlet-name>
    <servlet-class>Servlet.SignIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignIn</servlet-name>
    <url-pattern>/view/SignIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>CreateAdvertisement</display-name>
    <servlet-name>CreateAdvertisement</servlet-name>
    <servlet-class>Servlet.CreateAdvertisement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAdvertisement</servlet-name>
    <url-pattern>/view/CreateAdvertisement</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ViewAdvertisement</display-name>
    <servlet-name>ViewAdvertisement</servlet-name>
    <servlet-class>Servlet.ViewAdvertisement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAdvertisement</servlet-name>
    <url-pattern>/view/ViewAdvertisement</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>BuyFromAdvertisement</display-name>
    <servlet-name>BuyFromAdvertisement</servlet-name>
    <servlet-class>Servlet.BuyFromAdvertisement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyFromAdvertisement</servlet-name>
    <url-pattern>/view/BuyFromAdvertisement</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ViewCart</display-name>
    <servlet-name>ViewCart</servlet-name>
    <servlet-class>Servlet.ViewCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCart</servlet-name>
    <url-pattern>/view/ViewCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>CheckOut</display-name>
    <servlet-name>CheckOut</servlet-name>
    <servlet-class>Servlet.CheckOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckOut</servlet-name>
    <url-pattern>/view/CheckOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>LogOut</display-name>
    <servlet-name>LogOut</servlet-name>
    <servlet-class>Servlet.LogOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOut</servlet-name>
    <url-pattern>/view/LogOut</url-pattern>
  </servlet-mapping>
  <session-config>
  <session-timeout>8</session-timeout>
  </session-config>
</web-app>